<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibaixiong.bbs.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.ibaixiong.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="bx_num" property="bxNum" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar_img" property="avatarImg" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="salt" property="salt" jdbcType="CHAR" />
    <result column="available" property="available" jdbcType="TINYINT" />
    <result column="block_Time" property="blockTime" jdbcType="TIMESTAMP" />
    <result column="block_memo" property="blockMemo" jdbcType="VARCHAR" />
    <result column="exp_num" property="expNum" jdbcType="INTEGER" />
    <association column="grade_id" property="gradeEntity" select="com.ibaixiong.bbs.dao.GradeDao.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_pwd, nick_name, avatar_img, email, phone, points, create_date_time, 
    update_time, status, salt, available,block_Time,block_memo,exp_num,grade_id,bx_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryUserList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where
    <if test="status != null">
		   status = #{status,jdbcType=TINYINT} 
	</if>
	<if test="status == null">
		   status != -2 
	</if>
	<if test="queryName != null">
		  AND user_name like "%"#{queryName}"%"
	</if>
	<if test="roleId != null">
		  AND id in (select user_id from tbl_bbs_user_role where role_id= #{roleId,jdbcType=BIGINT})
	</if>
  </select>
  <select id="queryRoles" resultType="String">
  	SELECT 
  		r.roleTag 
  	FROM 
  		tbl_bbs_role r 
  	LEFT JOIN  
  		tbl_bbs_user_role  ur ON ur.role_id=r.id 
  	WHERE  
  		ur.user_id=#{userId,jdbcType=BIGINT} 
  
  </select>
  
  <select id="queryPermissions" resultType="String">
  	SELECT 
  		DISTINCT p.per_oper 
  	FROM 
  		tbl_bbs_permissions p 
  	LEFT JOIN 
  		tbl_bbs_role_permissions  rp on p.id=rp.permission_id 
  	LEFT JOIN 
  		tbl_bbs_user_role ur ON rp.role_id=ur.role_id 
  	WHERE 
  		ur.user_id=#{userId,jdbcType=BIGINT} 
  
  </select>

  <update id="updateBlockStatus" parameterType="com.ibaixiong.entity.User" >
    update tbl_user
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="blockTime != null" >
        block_Time = #{blockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blockMemo != null" >
        block_memo = #{blockMemo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateNickName" parameterType="com.ibaixiong.entity.User" >
    update tbl_user
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateHeadImg" parameterType="com.ibaixiong.entity.User" >
    update tbl_user
    <set >
      <if test="avatarImg != null" >
        avatar_img = #{avatarImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateExpPointsGradeById" parameterType="com.ibaixiong.entity.User" >
    update tbl_user
    <set >
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="expNum != null" >
        exp_num = #{expNum,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
